<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnectionString"
			 connectionString="Data Source=ordereat-sqlserver.database.windows.net;Initial Catalog=OrderEAT-SQL;User ID=ordereat;Password=adminEAT123*"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>